.addproject {
  background-color: #dc2f02 !important;
  padding: 0.6rem 0.5rem;
  /* font-size: 1rem; */
  font-weight: 600;
  color: white !important;
 display: flex;
}
.logout-btn {
  padding: 0.6rem 0.5rem;
  background-color: #fff !important;
  color: #000;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logout-btn svg {
  margin-right: 0.4rem;
}


.signup{
  padding: 0 !important;
  width: 120px !important;
  background-color: transparent;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;

}

.modal_popUP{
  position: relative;
  display: flex;
  flex-flow: wrap;
}
.ant-btn-primary{
  background-color: #f16126 !important;
}
@media only screen and (max-width: 600px) {
  .addproject {
    margin: 0 !important;
    padding: 7px 10px;
    font-size: 0.7rem;
  }
  .logout-btn {
    color: #fff !important;
  }
  .signup{
    display: flex;
    background-color: white;
  }
  .login{
    display: flex;
  }

}
/* @media only Button and(max-width:600px) {
  .ant-btn{
    display: flex;
    background-color: white;
  }
  .login{
    display: flex;
  }
} */

.logout-btn{
  background-color:white;
  border:solid 1px #f16126;
  height:3.5rem;
  width: 10rem; 
}
.ant-btn-primary{
  border:solid;
}
.ant-btn-primary:hover{
  background-color: #f16126 !important;
}
.logout-btn:hover{
  background-color: white !important;
  color: rgb(16, 1, 1) !important;
}
.ant-modal{
  align-content: space-around;
}