.domain {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}
.uploadInput {
  display: none;
}

.upploadLabel {
  margin: 10px 0 10px 0;
  width: 100%;
  padding: 0.7rem 0.8rem;
  border-radius: 4px;
  border: 1px dashed rgb(198, 198, 198);
  text-align: left;
  cursor: pointer;
  justify-content: center;
}
.ant-spin-dot-item {
  background-color: #fff !important;
}
.upploadLabel svg{
    margin-right: .5rem;
}

.studentImage:hover {
  color: #404040 !important;
  font-weight: 700 !important;
  letter-spacing: 3px;
  background: none;
  box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.3s ease 0s;
  transform: scale(1.1);
  z-index: 2;
}

.collegeImage:hover {
  color: #404040 !important;
  font-weight: 700 !important;
  letter-spacing: 3px;
  background: none;
  box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.3s ease 0s;
  transform: scale(1.1);
  z-index: 2;
}


.left{
    width: 40%;
    background-color: rgb(216, 202, 197);
    border-radius: 8px;
}

.right{
    position: relative;
    width: 60%;
    background-image: url("./img/project.jpg");
    overflow: hidden;
    /* filter: blur(5px); */
}  
.text{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    color: white;
    padding-left: 50px;
    /* Add some padding to make the text more readable */
  }

.profilePic{
    transform: scale(0.8);
    border-radius: 10px;
    
}

.instructor-wrapper{
    display: flex;
    flex-flow: wrap;
}

.headTitle{
    display: flex;
    flex-flow: wrap; 
    font-size: 30px;
}

